<div id="footer-nav" class="navbar navbar-xs" data-500="opacity: 0; transform: translateY(10px);" data-600="opacity:1;transform: translateY(0px);">
  <div class="navbar-header hidden-xs">
    <a class="navbar-brand brand" href="/" onclick="$(this).scrollToId('#main', 800); return false">STANHEX</a>
  </div>
  <ul class="nav navbar-nav navbar-left">
    <li class="contact-link"><a href="/contact" onclick="$(this).scrollToId('#contact-block', 800, 20); return false">Get in touch</a></li>
    <li>
      <a href="#0" class="cd-cart" onclick="$(this).scrollToId('#contact-block', 800); return false">
    		<span class="int">0</span> Selected. Send Inquiry.
    	</a>
    </li>
  </ul>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <address>
          Standard Radiators Pvt. Ltd.,<br />
          1/12, Industrial Estate, Gorwa,<br />
          Vadodara -390016, Gujarat, India
          P: +91-265-2280616 / 417
        </address>
        <span class="copyright">&copy; Copyright 2017_STANHEX</span>
      </div>
    </div>
  </div>
</div>
