<div class="page-nav">
  <div class="container">
      <h4 class="page-title">Contact</h4>
      <ol class="breadcrumb pull-right">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ol>
  </div>
</div>

<div class="header-img">

</div>

<div class="container content-container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <%=partial(:"partials/_contact_block", :layout => false, :locals => { :title => @title })%>
       </div>
     </div>
    </div>
  </div>
</div>
