<div class="page-nav">
  <div class="container">
      <h4 class="page-title">Sign In</h4>
      <ol class="breadcrumb pull-right">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Sign In</a>
        </li>
      </ol>
  </div>
</div>

<div class="container content-container">
  <div class="row">
    <div class="col-md-12">
        <form method=post action=\signin>
          Username: <input type=text name=username placeholder="Username">
          <br>
          Password: <input type=password name=password placeholder="Password">
          <br>
          <input type="submit" value=Login>
        </form>
    </div>
  </div>
</div>
