<div class="row">
  <div class="col-md-12">
    <h2>Applications</h2>
    <ul>
      <% @applications.each do |application| %>
      <%= partial(:"partials/_admin_application_block", :locals => { application: application }) %>
      <% end %>
    </ul>
  </div>
</div>
